body {
  color: rgb(40, 39, 52);
  background-color: rgb(210, 240, 255);

}

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
}

p, li, cite, a {
  font-family: Garamond, 'Times New Roman', serif;
  font-size: 22px;
}

h1 {
  color: darkred;
  text-align: center;
}

p {
  text-align: justify;
}

ul {
  list-style: square outside;
}

ol {
  list-style: upper-roman outside;
}

img {
  height: auto;
  width: 600px;
}

.enjoy {
  font-style: italic;
  color: darkgreen;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: underline solid 2px;
}

.back {
  display: block;
  text-align: right;
  font-size: 28px;
  text-decoration: underline overline 2px dotted;
  color:rgb(44, 76, 163);
}

.main-list {
  line-height: 50px;
}

.main-list li, .main-list a {
  font-size: 26px;
}

.main-list a {
  font-style: bold;
  background-color: greenyellow;
}

.h1-recipe {
  background-color: greenyellow;
}
